.container-scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 214, 138);
}
.text-scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text-scroll p{
    font-size: 18px;
    margin: 15px;

}  
.text-scroll h1 {
    font-size: 24px;
}
.text-scroll a {
    margin: 15px;
}