

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(24, 18, 196, 0.5); /* rgba(255, 192, 203, 0.5);*/
    color: rgb(2, 2, 2);
    padding: 1rem;
    z-index: 2; 
}

nav .title {
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: #ffd3dc;
}

nav ul {
    display: flex;
}

nav ul li {
   list-style: none; 
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
}

nav ul li a:not(.active):hover {
    background-color:#f495d3 ;
}

nav .menu {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

nav .menu span {
    height: 0.4rem;
    width: 100%;
    background-color: #fff;
    border-radius: 0.2rem;
}


@media (max-width: 480px) {
    nav .menu {
        display: flex;
        top: auto;
        right: 30px;
    }
    nav .title {
        margin: 0;
        left: 30px;
        position: relative;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        background-color: rgba(24, 18, 196, 0.5);
        position: relative;
        z-index: 1;
        top: 2.01vh;
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;

    }

    nav ul.open {
        display: flex;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        margin: 0.2rem 0.5rem;
    }
}